<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- <link rel="stylesheet" href="../static/css/styles.css"> -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="full-container">
        <div class="center-content">
            <div class="content-title">TIC TAC TOE</div>
            <div class="content-game">
                <div class="cell-game"></div>
                <div class="cell-game"></div>
                <div class="cell-game"></div>
                <div class="cell-game"></div>
                <div class="cell-game"></div>
                <div class="cell-game"></div>
                <div class="cell-game"></div>
                <div class="cell-game"></div>
                <div class="cell-game"></div>
            </div>
            <div class="content-start">
                <p class="title-start">Start Game</p>
                <div class="button-start">
                    <svg width="99" height="96" viewBox="0 0 99 96" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M30.1362 23.4103C30.1362 19.5612 34.3029 17.1556 37.6362 19.0801L93.8862 51.5561C97.2195 53.4806 97.2195 58.2918 93.8862 60.2163L37.6362 92.6923C34.3029 94.6168 30.1362 92.2112 30.1362 88.3622L30.1362 23.4103Z"
                            fill="white" />
                    </svg>
                </div>
            </div>
        </div>

        <div class="screen-lose" id="screenLose">
            <div class="blur"></div>
            <div class="text">You lose</div>
            <div class="button-continue">
                New Game
            </div>
        </div>
        <div class="screen-win" id="screenWin">
            <div class="blur"></div>
            <div class="text">You Win</div>
            <div class="button-continue">
                New Game
            </div>
        </div>
    </div>

    <script src="static/js/main.js"></script>
</body>

</html>